In [12]:
import pandas as pd

df = pd.read_csv('data/game_scores_homepage.csv')
hitter_df = pd.read_csv('data/hitter_hanhwa.csv')

In [13]:
hitter_df.head()

           날짜  선수명  타석  타수  득점  안타  홈런  타점  도루  희타  사사구  삼진
0  2024-03-23  문현빈   4   3   1   0   0   0   0   0    1   0
1  2024-03-23  페라자   4   4   0   2   0   1   0   0    0   2
2  2024-03-23  하주석   3   3   1   1   0   0   0   0    0   1
3  2024-03-23  김태연   1   1   0   0   0   0   0   0    0   0
4  2024-03-23  정은원   4   4   0   0   0   0   0   0    0   0

In [14]:
# 타자 출루율(OBP) 계산
hitter_df['타자출루율'] = (hitter_df['안타'] + hitter_df['사사구'] + hitter_df['희타']) / (hitter_df['타수'] + hitter_df['사사구'] + hitter_df['희타'] + hitter_df['삼진'])

# NaN 값을 0으로 대체
hitter_df['타자출루율'] = hitter_df['타자출루율'].fillna(0)

In [15]:
# 날짜별로 그룹화하여 각 날짜의 선수들의 출루율 평균 계산
daily_avg_obp = hitter_df.groupby('날짜')['타자출루율'].mean().reset_index()

In [16]:
daily_avg_obp

             날짜     타자출루율
0    2024-03-23  0.218333
1    2024-03-24  0.366667
2    2024-03-26  0.184722
3    2024-03-27  0.241667
4    2024-03-28  0.453846
..          ...       ...
138  2024-09-24  0.256667
139  2024-09-25  0.253333
140  2024-09-27  0.280000
141  2024-09-28  0.217262
142  2024-09-29  0.180208

[143 rows x 2 columns]

#### 더블헤더날짜 따로계산

In [17]:
print(hitter_df[hitter_df['날짜']=='2024-06-23'])

             날짜  선수명  타석  타수  득점  안타  홈런  타점  도루  희타  사사구  삼진     타자출루율
890  2024-06-23  페라자   5   5   1   1   0   0   0   0    0   0  0.200000
891  2024-06-23  황영묵   0   0   0   0   0   0   0   0    0   0  0.000000
892  2024-06-23  이도윤   5   2   0   0   0   1   0   1    2   0  0.600000
893  2024-06-23  김태연   5   4   2   2   1   2   0   0    1   0  0.600000
894  2024-06-23  장진혁   5   4   1   1   0   1   0   0    1   2  0.285714
895  2024-06-23  이원석   6   6   1   2   0   1   1   0    0   2  0.250000
896  2024-06-23  노시환   5   4   1   1   0   1   0   0    1   1  0.333333
897  2024-06-23  김강민   0   0   0   0   0   0   0   0    0   0  0.000000
898  2024-06-23  최재훈   5   4   0   0   0   0   0   0    1   0  0.200000
899  2024-06-23  채은성   5   4   2   3   1   3   0   0    1   0  0.800000
900  2024-06-23  안치홍   5   4   1   2   0   0   0   0    1   0  0.600000
901  2024-06-23  임종찬   0   0   0   0   0   0   0   0    0   0  0.000000
902  2024-06-23  최인호   1   1   0   0   0   0   0   0    0   0  0.000000
903  2024-06-23  문현빈   4   4   0   0   0   0   0   0    0   2  0.000000
904  2024-06-23  황영묵   0   0   0   0   0   0   0   0    0   0  0.000000
905  2024-06-23  하주석   1   1   0   0   0   0   0   0    0   0  0.000000
906  2024-06-23  이도윤   2   2   0   0   0   0   0   0    0   0  0.000000
907  2024-06-23  김태연   4   4   1   1   0   0   0   0    0   0  0.250000
908  2024-06-23  이원석   5   5   0   1   0   1   0   0    0   1  0.166667
909  2024-06-23  노시환   4   4   0   1   0   0   0   0    0   0  0.250000
910  2024-06-23  이재원   3   3   0   1   0   0   0   0    0   0  0.333333
911  2024-06-23  최재훈   1   0   0   0   0   0   0   0    1   0  1.000000
912  2024-06-23  채은성   4   3   0   1   0   0   0   0    1   2  0.333333
913  2024-06-23  안치홍   4   4   0   0   0   0   0   0    0   1  0.000000
914  2024-06-23  페라자   4   3   0   2   0   0   1   0    1   0  0.750000

In [18]:
df_20240623 = hitter_df[hitter_df['날짜']=='2024-06-23']

In [19]:
#슬라이싱 안되서 index reset

df_20240623.reset_index(drop=True)

            날짜  선수명  타석  타수  득점  안타  홈런  타점  도루  희타  사사구  삼진     타자출루율
0   2024-06-23  페라자   5   5   1   1   0   0   0   0    0   0  0.200000
1   2024-06-23  황영묵   0   0   0   0   0   0   0   0    0   0  0.000000
2   2024-06-23  이도윤   5   2   0   0   0   1   0   1    2   0  0.600000
3   2024-06-23  김태연   5   4   2   2   1   2   0   0    1   0  0.600000
4   2024-06-23  장진혁   5   4   1   1   0   1   0   0    1   2  0.285714
5   2024-06-23  이원석   6   6   1   2   0   1   1   0    0   2  0.250000
6   2024-06-23  노시환   5   4   1   1   0   1   0   0    1   1  0.333333
7   2024-06-23  김강민   0   0   0   0   0   0   0   0    0   0  0.000000
8   2024-06-23  최재훈   5   4   0   0   0   0   0   0    1   0  0.200000
9   2024-06-23  채은성   5   4   2   3   1   3   0   0    1   0  0.800000
10  2024-06-23  안치홍   5   4   1   2   0   0   0   0    1   0  0.600000
11  2024-06-23  임종찬   0   0   0   0   0   0   0   0    0   0  0.000000
12  2024-06-23  최인호   1   1   0   0   0   0   0   0    0   0  0.000000
13  2024-06-23  문현빈   4   4   0   0   0   0   0   0    0   2  0.000000
14  2024-06-23  황영묵   0   0   0   0   0   0   0   0    0   0  0.000000
15  2024-06-23  하주석   1   1   0   0   0   0   0   0    0   0  0.000000
16  2024-06-23  이도윤   2   2   0   0   0   0   0   0    0   0  0.000000
17  2024-06-23  김태연   4   4   1   1   0   0   0   0    0   0  0.250000
18  2024-06-23  이원석   5   5   0   1   0   1   0   0    0   1  0.166667
19  2024-06-23  노시환   4   4   0   1   0   0   0   0    0   0  0.250000
20  2024-06-23  이재원   3   3   0   1   0   0   0   0    0   0  0.333333
21  2024-06-23  최재훈   1   0   0   0   0   0   0   0    1   0  1.000000
22  2024-06-23  채은성   4   3   0   1   0   0   0   0    1   2  0.333333
23  2024-06-23  안치홍   4   4   0   0   0   0   0   0    0   1  0.000000
24  2024-06-23  페라자   4   3   0   2   0   0   1   0    1   0  0.750000

In [20]:
# 각 구간별로 출루율 평균 계산
avg_obp_1 = df_20240623.iloc[0:11]['타자출루율'].mean()
avg_obp_2 = df_20240623.iloc[11:25]['타자출루율'].mean()

# 결과 출력
print("구간 890~900 평균 출루율:", avg_obp_1)
print("구간 901~914 평균 출루율:", avg_obp_2)

구간 890~900 평균 출루율: 0.35173160173160173
구간 901~914 평균 출루율: 0.22023809523809526

#### 타자평균출루율 추가

In [23]:
# daily_avg_obp에서 '날짜'와 '타자출루율'만 추출하여 딕셔너리로 변환
move_obp = daily_avg_obp.set_index('날짜')['타자출루율'].to_dict()

# df['날짜']에 대응하는 타자출루율 값을 df['타자평균출루율']에 추가
df['타자평균출루율'] = df['날짜'].map(move_obp)

df

,날짜,요일,경기시간,장소,팀1명,팀2명,홈/원정,게임결과,팀1 점수,팀2 점수,...,팀2 4이닝점수,팀2 5이닝점수,팀2 6이닝점수,팀2 7이닝점수,팀2 8이닝점수,팀2 9이닝점수,팀2 10이닝점수,팀2 11이닝점수,팀2 12이닝점수,타자평균출루율
0,2024-03-23,(토),14:00,잠실,한화,LG,원정,패,2,8,...,1,0,-,-,-,-,-,-,-,0.218333
1,2024-03-24,(일),14:00,잠실,한화,LG,원정,승,8,4,...,0,1,2,-,-,-,-,-,-,0.366667
2,2024-03-26,(화),18:30,문학,한화,SSG,원정,승,6,0,...,0,0,0,-,-,-,-,-,-,0.184722
3,2024-03-27,(수),18:30,문학,한화,SSG,원정,승,3,1,...,0,0,0,-,-,-,-,-,-,0.241667
4,2024-03-28,(목),18:30,문학,한화,SSG,원정,승,10,6,...,1,1,0,-,-,-,-,-,-,0.453846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2024-09-24,(화),18:30,고척,한화,키움,원정,패,4,5,...,2,0,-,-,-,-,-,-,-,0.256667
140,2024-09-25,(수),18:30,잠실,한화,LG,원정,승,4,2,...,0,0,0,-,-,-,-,-,-,0.253333
141,2024-09-27,(금),18:30,대전,KIA,한화,홈,승,0,8,...,3,0,-,-,-,-,-,-,-,0.280000
142,2024-09-28,(토),17:00,대전,SSG,한화,홈,패,6,2,...,0,0,0,-,-,-,-,-,-,0.217262
143,2024-09-29,(일),17:00,대전,NC,한화,홈,패,7,2,...,1,3,0,-,-,-,-,-,-,0.180208

#### 더블헤어 데이터 수동부여

In [24]:
print(df[df['날짜']== '2024-06-23'])

            날짜   요일   경기시간  장소 팀1명  팀2명 홈/원정 게임결과  팀1 점수  팀2 점수  ...  \
73  2024-06-23  (일)  14:00  광주  한화  KIA   원정    승      9      8  ...
74  2024-06-23  (일)  18:11  광주  한화  KIA   원정    패      1      4  ...

    팀2 4이닝점수  팀2 5이닝점수  팀2 6이닝점수  팀2 7이닝점수  팀2 8이닝점수  팀2 9이닝점수  팀2 10이닝점수  \
73         0         1         0         -         -         -          -
74         0         0         -         -         -         -          -

    팀2 11이닝점수  팀2 12이닝점수   타자평균출루율
73          -          -  0.278095
74          -          -  0.278095

[2 rows x 35 columns]

In [25]:
# 특정 인덱스의 특정 열 수정
df.at[73, '타자평균출루율'] = avg_obp_1
df.at[74, '타자평균출루율'] = avg_obp_2

In [26]:
print(df[df['날짜']== '2024-06-23'])

            날짜   요일   경기시간  장소 팀1명  팀2명 홈/원정 게임결과  팀1 점수  팀2 점수  ...  \
73  2024-06-23  (일)  14:00  광주  한화  KIA   원정    승      9      8  ...
74  2024-06-23  (일)  18:11  광주  한화  KIA   원정    패      1      4  ...

    팀2 4이닝점수  팀2 5이닝점수  팀2 6이닝점수  팀2 7이닝점수  팀2 8이닝점수  팀2 9이닝점수  팀2 10이닝점수  \
73         0         1         0         -         -         -          -
74         0         0         -         -         -         -          -

    팀2 11이닝점수  팀2 12이닝점수   타자평균출루율
73          -          -  0.351732
74          -          -  0.220238

[2 rows x 35 columns]

In [27]:
df.to_csv('data/타자평균출루율추가데이터.csv')